.fish {
  border: 1px solid blue;
  padding: 20px;
  margin: 20px;
}

.parent {
  gap: 20px;
}

/* media queries */

@media (min-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .parent {
    display: flex;
    flex-direction: row;
  }
}
